<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Summary-last-course:-pandas" data-toc-modified-id="Summary-last-course:-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Summary last course: pandas</a></span></li><li><span><a href="#Outlook-today" data-toc-modified-id="Outlook-today-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Outlook today</a></span></li><li><span><a href="#Next-sessions" data-toc-modified-id="Next-sessions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Next sessions</a></span></li><li><span><a href="#The-five-important-steps-involved-in-Data-Analysis" data-toc-modified-id="The-five-important-steps-involved-in-Data-Analysis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>The five important steps involved in Data Analysis</a></span></li><li><span><a href="#Getting-the-data" data-toc-modified-id="Getting-the-data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Getting the data</a></span></li><li><span><a href="#Cleaning-the-data---data-wrangling" data-toc-modified-id="Cleaning-the-data---data-wrangling-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Cleaning the data - data wrangling</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#MOST-IMPORTANT,-HAVING-A-QUESTION:" data-toc-modified-id="MOST-IMPORTANT,-HAVING-A-QUESTION:-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>MOST IMPORTANT, HAVING A QUESTION:</a></span></li></ul></li><li><span><a href="#Identify-missing-values" data-toc-modified-id="Identify-missing-values-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Identify missing values</a></span><ul class="toc-item"><li><span><a href="#Evaluating-for-Missing-Data" data-toc-modified-id="Evaluating-for-Missing-Data-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Evaluating for Missing Data</a></span></li></ul></li><li><span><a href="#Data-Standardization" data-toc-modified-id="Data-Standardization-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Data Standardization</a></span></li></ul></li></ul></div>

## Summary last course: pandas
- Introduction to **pandas** for data visualization and analysis
- import data into a DataFrame
- Selecting rows and columns from a DataFrame (<code>[column]</code>, <code>.loc[]</code>, <code>iloc[]</code>)
- Special functions on DataFrames and series
 - <code>.head()</code>, <code>.tail()</code>
 - <code>.rolling(window).mean()</code> to calculate rolling averages
 - <code>.diff()</code>, <code>.sum()</code>
 - <code>.describe()</code>
 - <code>.sort_values(column)</code>
 - <code>.transpose()</code>
- Plotting in Pandas (kind= bar, line, scatter, pie, area)

We have seen how to analyze and visualize numerical data (int,float). What about **categorical values**?

## Outlook today
- practice pandas commands and introduce new commands for
 - Data cleaning (<code>.astype()</code>, <code>.replace()</code>)
 - Exploratory Data Analysis (correlation, <code>.value_counts()</code>, how to deal with categorical variables, <code>.groupby()</code>)

## Next sessions
1. Introduction to Machine Learning (standard ML algorithms and examples)
2. Numerical Python (solving physical problems with Python)
3. ...

## The five important steps involved in Data Analysis
1. **Getting the data**
2. **Cleaning data**
3. **Exploration**
4. Building a Model
5. Presenting results and story telling

## Getting the data

> Every data analysis starts with an idea, hypothesis, problem, etc. The next step usually involves the most important element: data. Today, data is everywhere. For those of us who love diving into data, there are lots of resources to attain this part of the process. Whether it’s through Kaggle or UCI Machine Learning Repository, data is easily available. However, sometimes not all data is available to us. Sometimes, in order to continue a certain data analysis/project, we must do a bit more to get the correct, updated data we need.

This is one of the most important steps for solving problems, where do you get your data from to analyse. Here is a list of possibles sources:
- Calculations (Software suites, or with your own codes (Python, ...))
- Experimental data
- Scraping data from the Internet (little example Wiki, present state, difficult to investigate historical data)
- Download it from <a href ='kaggle.com'>Kaggle</a>
- Questionnaire
- Medical data
- Images, pictures
- ...

## Cleaning the data - data wrangling

Finally we have the data we want to analyze in our hands, but still it is not in the format you want it. Or there are missing values.  
**Data Wrangling** is the process of converting data from the initial format to a format that may be better for analysis. This involves removing the **duplicate rows**, removing the **outliers**, finding the **missing or null values**, **converting the object values into null values**.

 **MOST IMPORTANT, HAVING A QUESTION:**
**THE PROBLEM**  
**How can I predict the price of a car? (buying/selling a car)**  
Assume you want to sell your car? But the problem is, you don not know how much you should sell your car for. But you also want to set the price reasonably so someone would want to purchase it.
As a data analyst we should ask various questions to solve the problem. As for the problem here, what were the features that affect the price of the car?
- year/ km ?
- color?
- Brand?
- Does horsepower also affect the selling price, or perhaps, something else?
- time of year ?

https://www.autoscout24.de

To answer these questions, let us explore a car data set. (from 1985 without km or year for simplicity)

First let us import the libraries needed and the data.

In [1]:
import pandas as pd
import numpy as np

Use the Pandas method <code>read_csv()</code> to load the data.

In [2]:
df = pd.read_csv('data/auto.csv',index_col=0)
df.head(5) # displays the first 5 rows of the dataframe

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

It’s a data-set with 205 rows and 26 columns. Starting with the first attribute **'symboling'**, corresponds to the insurance risk level of a car. Cars are initially assigned a risk factor symbol associated with their price. Then, if an automobile is riskier, this symbol is adjusted by moving it up the scale. A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.

The second attribute **'normalized-losses'** is the relative average loss payment per insured vehicle year. This value is normalized for all autos within a particular size classification (two-door, small, station wagons, sports/specialty, etc…), and represents the average loss per car per year. The values range from 65 to 256. The other attributes are easy to understand.

The 26th attribute is 'price'. This is our target value. This means 'price' is the value that we want to predict from the data-set, and the predictors should be all the other variables listed, like 'symboling', 'normalized-losses', 'make' and so on.

As we can see, **several question marks** appeared in the DataFrame; those are missing values which may hinder our further analysis. 
<div>So, how do we identify all those missing values and deal with them?</div> 


**How to work with missing data?**

### Identify missing values

In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B.

In [3]:
# replace "?" to NaN
df.replace('?', np.nan, inplace=True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

But let us first get some basic insight from the data:
One must clearly understand the data before doing any analysis. Data has a variety of types. The main types stored in Pandas objects are an object, float, int, and DateTime.
We should check:
1. Data types 
2. Data distribution

why check data type?
For example, it should be awkward if the “car price” column, which we should expect to contain continuous numeric numbers, is assigned the datatype of “object or string”. Since data were a combination of numerical and categorical data. we must ensure the datatype before doing further analysis.
To check the data type : **df.dtypes**

In [4]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

**Dealing with incorrect datatype**  
Sometimes the wrong datatype is assigned to a feature.
To covert datatype: **dataframe.astype()**

In [5]:
# convert to float
convert = ['normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']

In [6]:
df['normalized-losses'] = df['normalized-losses'].astype('float64')

# write a loop to convert the other elements in convert to a float:
# ...
# ...

<font color=blue>**Solution**
<!--
for col in convert:
    df[col] = df[col].astype('float64')-->

In [7]:
# let us check again
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

#### Evaluating for Missing Data

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
1. **<code>.isnull()</code>**
2. **<code>.notnull()</code>**

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [8]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
missing_data['price'].value_counts()
#  check type
# check len

False    201
True       4
Name: price, dtype: int64

In [10]:
len(missing_data['price'].value_counts())

2

**Count missing values in each column**

Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values.

In [11]:
for column in missing_data.columns:
    0
#  ...
# ...

<font color=blue>**Solution**
<!--
for column in missing_data.columns:
    if len(missing_data[column].value_counts()) == 2:
        print(column)
        print (missing_data[column].value_counts())
        print("")   
-->

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

**Replace by mean:**
1. "normalized-losses": 41 missing data, replace them with mean
2. "stroke": 4 missing data, replace them with mean
3. "bore": 4 missing data, replace them with mean


**Replace by frequency:**
- "num-of-doors": 2 missing data, replace them with "four". 
  - Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur

**Drop the whole row:**
- "horsepower" and "peak-rpm": just 2 values and might be very important indicator for price
- "price": 4 missing data, simply delete the whole row
  - Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us

In [12]:
avg_norm_loss = df['normalized-losses'].mean(axis=0)
print('Average of normalized-losses:', avg_norm_loss)

Average of normalized-losses: 122.0

Replace 'NaN' by mean value in 'normalized-losses' column

In [13]:
df['normalized-losses'].replace(np.nan, avg_norm_loss, inplace=True)

In [14]:
rep_mean = ['normalized-losses','bore','stroke']
# write a loop to replace the other missing values by its mean
# ...
# ...

<font color=blue>**Solution**
<!--
for col in rep_mean:
    df[col].replace(np.nan, df[col].mean(axis=0), inplace=True)-->

To see which values are present in a particular column, we can use the **<code>.value_counts()</code>** method:

In [15]:
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

We can see that four doors are the most common type. Let us print the cars where the the information about number of doors is missing:

In [16]:
# df['num-of-doors'].isnull()
#  ...
# ...

<font color=blue>**Solution**
<!-- 
df[ df['num-of-doors'].isnull() ]-->

Both are 'sedan'. Let's inspect this a bit further:

In [17]:
df[df['body-style'] == 'sedan']['num-of-doors'].value_counts()

four    79
two     15
Name: num-of-doors, dtype: int64

The replacement procedure is very similar to what we have seen previously

In [18]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

Finally, let's drop all rows that do not have price / horsepower or peak-rpm data:

In [19]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)
df.dropna(subset=["horsepower"], axis=0, inplace=True)
df.dropna(subset=["peak-rpm"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [20]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

We are done? Let us check this:

In [21]:
missing = df.isnull()
for col in missing.columns:
    if len(missing[col].value_counts()) == 2:
        print (col)

bore
stroke

**Wonderful!**

Now, we finally obtain the **cleaned dataset with no missing values and all data in its proper format.**

### Data Standardization
Data is usually collected from different agencies with different formats.
(Data Standardization is also a term for a particular type of data normalization, where we subtract the mean and divide by the standard deviation)
</p>
    
<b>What is Standardization?</b>
<p>Standardization is the process of transforming data into a common format which allows the researcher to make the meaningful comparison.
</p>

<b>Example</b>
<p>Transform mpg to L/100km:</p>
<p>In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accept the fuel consumption with L/100km standard</p>
<p>We will need to apply <b>data transformation</b> to transform mpg into L/100km?</p>

<p>The formula for unit conversion is<p>
L/100km = 235 / mpg
<p>We can do many mathematical operations directly in Pandas.</p>

In [22]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df['city-mpg']
df['highway-L/100km'] = 235/df['highway-mpg']
# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495,11.190476,8.703704
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500,11.190476,8.703704
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,12.368421,9.038462
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,9.791667,7.833333
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,13.055556,10.681818

Let us save the cleaned dataset to a csv file.

In [23]:
# df.drop('city-mpg',axis=1,inplace=True)
# df.drop('highway-mpg',axis=1,inplace=True)
df.to_csv('data/auto_cleaned.csv')

**DATA wrangling done!!**  
a short summary:

In [24]:
# summary
import pandas as pd
import numpy as np

df = pd.read_csv('data/auto.csv',index_col=0)

df.replace("?", np.nan, inplace = True)  # replace "?" to NaN

# convert to float
convert = ['normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']
for col in convert:
    df[col] = df[col].astype('float64')

# replace by mean
rep_mean = ['normalized-losses','bore','stroke']
for col in rep_mean:
    df[col].replace(np.nan, df[col].mean(axis=0) , inplace=True)
    
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

# simply drop whole row with NaN in "price" column
df.dropna(subset=['price','horsepower','peak-rpm'], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)   # reset index, because we droped two rows

# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df['city-mpg']
df['highway-L/100km'] = 235/df['highway-mpg']

# df.drop('city-mpg',axis=1,inplace=True)
# df.drop('highway-mpg',axis=1,inplace=True)

df.to_csv('data/auto_cleaned.csv')